<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://nash.owlab.com:3306/test?autoReconnect=true</property>
		<property name="connection.username">nash</property>
		<property name="connection.password">123456</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">10</property>
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Don't change/drop/create table and don't change or delete rows on startup/stop -->
		<!-- 
		<property name="hbm2ddl.auto">validate</property>
		 -->
		 <property name="hbm2ddl.auto">validate</property>
		<!-- 
		<property name="hbm2ddl.auto">create</property>
		<property name="hbm2ddl.auto">update</property>
		-->
    </session-factory>
</hibernate-configuration>
